:root {
  --nexus-font-sans: 'Figtree', sans-serif;
  --nexus-font-serif: 'Funnel Display', sans-serif;
  --nexus-font-mono: 'Red Hat Mono', monospace;

  --nexus-text-xs: 0.75rem;
  --nexus-text-sm: 0.875rem;
  --nexus-text-base: 1rem;
  --nexus-text-lg: 1.125rem;
  --nexus-text-xl: 1.25rem;
  --nexus-text-2xl: 1.5rem;
  --nexus-text-3xl: 1.875rem;
}
